@import url('https://fonts.googleapis.com/css2?family=Fira+Code:ital,wght@0,400;0,600;0,700;1,400;1,500&display=swap');

* {
  font-family: 'Fira Code';
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f6ff;
  overflow: scroll;
  height: 100px;
}

.animate__animated {
  animation-duration: 500ms;
}

.action_button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-button:hover {
  background-color: rgba(19, 15, 64, 0.4);
  border-radius: 50%;
}